{% extends 'base.html' %} {% load static %} {% block content%}
<img src="{%static '/images/mqtt-logo.svg'%}" height="40" />
<div>
  <p>토픽: <input type="text" id="topic" /></p>
  <p>message: <input type="text" id="message" /></p>
  <button type="button" id="publish-btn" class="btn btn-primary">
    <i class="fas fa-paper-plane"></i> 전송
  </button>
</div>
<hr />
<div>
  <h2>거실</h2>
  <ul>
    <li>온도: <input type="text" id="temp" /></li>
    <li>습도: <input type="text" id="humi" /></li>
    <li>조도: <input type="text" id="illu" /></li>
  </ul>
</div>

{% endblock %} {% block script%}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"
  type="text/javascript"
></script>

<script>
  let btn = document.getElementById('publish-btn');
  let inputTopic = document.getElementById('topic');
  let inputMessage = document.getElementById('message');

  const BROKER_IP = 'localhost';
  const BROKER_PORT = 9001;
  const CLIENT_ID = 'clientID-' + parseInt(Math.random() * 100);
  const SUBSCRIBE_TOPIC = 'iot/#';

  client = new Paho.MQTT.Client(BROKER_IP, BROKER_PORT, CLIENT_ID);
  console.log(BROKER_IP, BROKER_PORT, CLIENT_ID);

  client.onConnectionLost = onConnectionLost; // 연결 끊김 콜백
  client.onMessageArrived = onMessageArrived; // 메시지 도착 콜백

  client.connect({
    onSuccess: onConnect, // 연결 성공시 호출 콜백
    onFailure: onFailure, // 연결 실패시 호출 콜백
  });

  function onConnectionLost(responseObject) {
    if (responseObject.errorCode !== 0) {
      console.log('onConnectionLost:' + responseObject.errorMessage);
    }
  }

  let temp = document.getElementById('temp');
  let humi = document.getElementById('humi');
  let illu = document.getElementById('illu');

  function onMessageArrived(message) {
    let topic = message.destinationName;
    let value = message.payloadString;
    const [_, place, category] = topic.split('/'); // 배열 분해 할당
    if (category == 'temp') temp.value = value;
    else if (category == 'humi') humi.value = value;
    else if (category == 'illu') illu.value = value;
  }

  function onFailure() {
    alert('Please enter host and port again.');
  }

  function onConnect() {
    console.log('onConnect');
    client.subscribe(SUBSCRIBE_TOPIC);
  }

  btn.onclick = () => {
    const topic = inputTopic.value;
    const message = new Paho.MQTT.Message(inputMessage.value);

    message.destinationName = topic;
    message.qos = 1;
    client.send(message);
  };
</script>
{% endblock %}
